body {
    background-image: url("../imagens/prateleira_logo3.jpeg");
    background-size: cover; /* Ajusta a imagem para cobrir todo o plano de fundo */
    background-position: center; /* Centraliza a imagem no plano de fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    margin: 0; /* Remove a margem padrão do body */
    font-family: Arial, sans-serif; /* Define uma fonte padrão */
    /* color: rgb(255, 255, 255); Define a cor do texto */
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    color: whitesmoke;    
  }
  #area-cabecalho{
    text-align: center;
    padding: 15px;
  }
  #branco{
    color: white;
  }
  .container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* background-color: #f9f9f9; */
  }
  .header {
    text-align: center;
  }
  .footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    /* color: #555; */
  }
  